*.elc        # Compiled
.cask        # Packaging
*~           # Backup files

.emacs.desktop
.emacs.desktop.lock
.python-environments
ac-comphist.dat
auto-save-list
elpa
eshell
ido.last
projectile.cache
projectile-bookmarks.eld
saves
server
smex-items
tramp
